button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  border: 2px solid rgb(200, 200, 200);
  font-weight: bolder;
  transition: 0.2s;
  text-transform: uppercase;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  border: 2px solid rgb(100, 100, 100);
}

button:active {
    background-color: rgb(200, 200, 200);
}
